html {
  background: lightgrey;
}

body {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: beige;
  padding: 50px;
  margin-bottom: 50px;
  text-align: center;
}

footer {
  border-top: 5px solid #a5a5a5;
  padding-top: 20px;
  margin-top: 50px;
  text-align: center;
}

footer a {
  padding: 10px;
}

a {
  color: #8f3206;
  text-decoration: none;
}

a:hover {
  color: #065b8f;
  text-decoration: dotted;
}

.brand {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.mobile {
  opacity: 0.8;
}